body{
    background-color: #000000;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.time h1{
    color: #fff;
    font-size: 100px;
}